<% provide(:title,'About Us')%>
<!--<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Sample App | <%= yield(:title)%></title>
	</head>
	<body>
-->
	<h1>About Us</h1>
	<p>This page is all about Authors of the sample application</p>
<!--</body></html> -->

